.cart-button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.cart-button-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #eee;
  color: rgb(71, 82, 196);
}
