.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  background-color: rgb(88, 101, 242);
  color: #eee;
}

.header-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
