* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 42px;
  min-width: 60px;
  border: none;
  color: #fff;
  background-color: rgb(88, 101, 242);
  transition: background-color 0.17s ease, color 0.17s ease;
}

.button:hover {
  background-color: rgb(71, 82, 196);
}
